@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Outfit:wght@400;600;700&display=swap');
@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
    background-color: #050505;
    /* Deep black/gray */
    color: #f3f4f6;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Outfit', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #eab308;
    /* Yellow-500 */
}

/* Utility Classes */
.font-Outfit {
    font-family: 'Outfit', sans-serif;
}

.font-Inter {
    font-family: 'Inter', sans-serif;
}